
/* Footer Container Geral */
.footer-container {
    display: flex;
    justify-content: space-between;
    /* Divide espaço igualmente */
    align-items: center;
    flex-wrap: wrap;
    /* Adapta em telas menores */
    box-sizing: border-box;
    padding: 50px 30px;
    width: 100%;
    margin: 0;
    padding: 20px 50px;
    color: white;
}

/* Logo e Texto */
.logo-and-text {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-and-text h2 {
    font-size: 20px;
    margin: 0;
    font-weight: bold;
}

.logo-and-text h3 {
    font-size: 12px;
    margin: 0;
    font-weight: normal;
}

/* Informações */
.info {
    display: flex;
    justify-content: space-between;
    /* Itens lado a lado */
    gap: 40px;
    align-items: center;
  
}

.endereco,
.horario,
.mapa {
    text-align: center;  
}

.endereco h2,
.horario h2 {
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

.endereco p,
.horario p {
    font-size: 10px;
    margin: 5px 0;
}

.mapa img {
    width: 100%;
    max-width: 250px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

/* Responsividade */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .info {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }

    .mapa img {
        max-width: 100%;
    }
}